<main
  [ngClass]="{ 'main-bg': isMobile }"
  class="d-flex align-items-center justify-content-center"
  (window:resize)="mobileView()"
>
  <header class="logo pb-4" *ngIf="!isMobile">
    <img src="../../../assets/mentor-logo-dark.png" width="60px" />
    <span>Mentor-Hub</span>
  </header>
  <section
    [ngClass]="{ 'right-cover': !loginView && !isMobile }"
    class="d-flex flex-column align-items-center justify-content-center"
    *ngIf="!isMobile || (isMobile && loginView)"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      *ngIf="!loginView && !isMobile"
    >
      <!-- <header class="pb-4">
        <img src="../../../assets/mentor-logo-dark.png" width="60px" />
        <span>Mentor-Hub</span>
      </header> -->
      <button
        mat-raised-button
        color="primary"
        class="auth-buttons"
        (click)="loginView = !loginView"
      >
        Login
      </button>
    </div>
    <header class="pb-4" *ngIf="loginView && isMobile">
      <img src="../../../assets/mentor-logo.png" width="60px" />
      <span class="login-logo">Mentor-Hub</span>
    </header>
    <mat-card *ngIf="loginView">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <table cellpadding="10px">
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Email Id</mat-label>
                <input matInput formControlName="email" type="text" />
                <button type="button" mat-icon-button matSuffix disabled>
                  <mat-icon>mail</mat-icon>
                </button>
                <mat-error>Invalid email-id...</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="password ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="password = !password"
                >
                  <mat-icon>visibility_off</mat-icon>
                </button>
                <mat-hint>Password should atleast be 8 characters</mat-hint>
                <mat-error>Invalid password...</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="button">
              <button mat-raised-button color="primary" class="auth-buttons">
                Login
              </button>
            </td>
          </tr>
          <tr *ngIf="isMobile">
            <td class="button">
              <button
                mat-raised-button
                color="accent"
                class="auth-buttons grad-buttons"
                (click)="loginView = !loginView"
                *ngIf="loginView"
              >
                Register
              </button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card>
  </section>
  <section
    [ngClass]="{ 'left-cover': loginView && !isMobile }"
    class="d-flex flex-column align-items-center justify-content-center"
    *ngIf="!isMobile || (isMobile && !loginView)"
  >
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      *ngIf="loginView && !isMobile"
    >
      <!-- <header class="pb-4">
          <img src="../../../assets/mentor-logo-dark.png" width="60px" />
          <span>Mentor-Hub</span>
        </header> -->
      <button
        mat-raised-button
        color="primary"
        class="auth-buttons"
        (click)="loginView = !loginView"
      >
        Register
      </button>
    </div>
    <header class="pb-4" *ngIf="!loginView && isMobile">
      <img src="../../../assets/mentor-logo.png" width="60px" />
      <span class="login-logo">Mentor-Hub</span>
    </header>
    <mat-card *ngIf="!loginView">
      <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
        <table cellpadding="10px">
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Email Id</mat-label>
                <input matInput formControlName="email" type="text" />
                <button type="button" mat-icon-button matSuffix disabled>
                  <mat-icon>mail</mat-icon>
                </button>
                <mat-error>Invalid email-id...</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="password ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="password = !password"
                >
                  <mat-icon>visibility_off</mat-icon>
                </button>
                <mat-hint>Password should atleast be 8 characters</mat-hint>
                <mat-error>Invalid password...</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [type]="conPassword ? 'password' : 'text'"
                  formControlName="confirmPassword"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="conPassword = !conPassword"
                >
                  <mat-icon>visibility_off</mat-icon>
                </button>
                <mat-error>Password mismatch...</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="button">
              <button mat-raised-button color="primary" class="auth-buttons">
                Register
              </button>
            </td>
          </tr>
          <tr *ngIf="isMobile">
            <td class="button">
              <button
                mat-raised-button
                color="accent"
                class="auth-buttons grad-buttons"
                (click)="loginView = !loginView"
                *ngIf="!loginView"
              >
                Login
              </button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card>
  </section>
</main>
