main {
  height: 100vh;
  position: relative;
}

section {
  width: 50%;
  height: 100%;
}

.button {
  text-align: center;
}

td {
  padding: 10px 20px;
}

.auth-buttons {
  width: 150px;
  height: 40px;
  color: white;
  border: 0px;
  border-radius: 50px;
  /* background-color: black; */
}

.right-cover {
  background-image: linear-gradient(to left, rgb(74, 20, 140, 0), rgb(74, 20, 140));
}

.left-cover {
  background-image: linear-gradient(to right, rgb(74, 20, 140, 0), rgb(74, 20, 140));
}

.main-bg {
  /* background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)); */
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(#4A148C, rgb(29, 9, 48));
}

.grad-buttons {
  /* color: black; */
  /* background-color: rgb(236, 236, 236); */
}

header>span {
  font-size: xx-large;
  font-family: 'Fondamento',
    cursive;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 10px;
}

.login-logo {
  white-space: nowrap;
  color: white;
}

.hint {
  font-size: small;
  color: grey;
  text-align: justify;
}

table {
  max-width: 250px;
}
