<div
  *ngIf="isMobile"
  class="profile-section d-flex flex-column justify-content-between"
>
  <div class="d-flex justify-content-end">
    <mat-icon>account_circle</mat-icon>
  </div>
  <p>
    Sunil Padasala Gopikrishna Vatsalam
  </p>
</div>
<mat-list
  [ngClass]="{
    fit: isMobile,
    'justify-content-between': !isMobile,
    cent: !isMobile
  }"
  class="d-flex flex-column align-items-center"
>
  <div>
    <a *ngFor="let datum of data" [routerLink]="datum.link">
      <mat-list-item
        matRipple
        matRippleColor="#ffffff1f"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>{{ datum.icon }}</mat-icon>
        <span>{{ datum.name | uppercase }}</span>
      </mat-list-item>
    </a>
    <mat-divider></mat-divider>
  </div>

  <div>
    <a *ngFor="let datum of fixedData" [routerLink]="datum.link">
      <mat-list-item
        matRipple
        matRippleColor="#ffffff1f"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>{{ datum.icon }}</mat-icon>
        <span>{{ datum.name | uppercase }}</span>
      </mat-list-item>
    </a>
    <a routerLink="/auth">
      <mat-list-item matRipple matRippleColor="#ffffff1f" class="logout">
        <mat-icon>login</mat-icon>
        <span>LOGOUT</span>
      </mat-list-item>
    </a>
  </div>
</mat-list>
