<div class="container-fluid mb-4 mr-5" *ngIf="user.role === 'Start-up'">
  <div class="row align-items-center justify-content-end">
    <div class="col-* pr-3">
      <button class="add-query" (click)="openAddQuery()">
        <span>Add new query</span>
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="!queries.length"
  class="img d-flex justify-content-center align-items-center flex-column"
>
  <img src="../../../assets/empty.jpg" />
  <p class="text-light">No queries found</p>
</div>
<div class="container-fluid" *ngIf="queries.length">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-11">
      <app-question
        *ngFor="let query of queries"
        [query]="query"
      ></app-question>
    </div>
  </div>
</div>
