<main class="p-2">
  <header class="pb-4">
    <img src="../../../assets/mentor-logo-dark.png" width="40px" />
    <span>Mentor-Hub</span>
  </header>
  <div>
    <p>Registration successful !!</p>
    <p>One Time Password has been sent your registered email id</p>
    <p>Please enter the OTP to verify your email id</p>
  </div>

  <mat-card class="p-2 d-flex justify-content-between">
    <mat-form-field [ngClass]="{ error: error }">
      <input
        #next0
        matInput
        [(ngModel)]="otp1"
        type="text"
        minlength="1"
        maxlength="1"
        (keyup)="changeFocus(next)"
      />
    </mat-form-field>
    <mat-form-field [ngClass]="{ error: error }">
      <input
        #next
        matInput
        [(ngModel)]="otp2"
        type="text"
        minlength="1"
        maxlength="1"
        (keyup)="changeFocus(next2)"
        [readonly]="!otp1"
      />
    </mat-form-field>
    <mat-form-field [ngClass]="{ error: error }">
      <input
        #next2
        matInput
        [(ngModel)]="otp3"
        type="text"
        minlength="1"
        maxlength="1"
        (keyup)="changeFocus(next3)"
        [readonly]="!otp2"
      />
    </mat-form-field>
    <mat-form-field [ngClass]="{ error: error }">
      <input
        #next3
        matInput
        [(ngModel)]="otp4"
        type="text"
        minlength="1"
        maxlength="1"
        (keyup)="changeFocus(next4)"
        [readonly]="!otp3"
      />
    </mat-form-field>
    <mat-form-field [ngClass]="{ error: error }">
      <input
        #next4
        matInput
        [(ngModel)]="otp5"
        type="text"
        minlength="1"
        maxlength="1"
        (keyup)="changeFocus(next5)"
        [readonly]="!otp4"
      />
    </mat-form-field>
    <mat-form-field [ngClass]="{ error: error }">
      <input
        #next5
        matInput
        [(ngModel)]="otp6"
        type="text"
        minlength="1"
        maxlength="1"
        (keyup)="checkOtp()"
        [readonly]="!otp5"
      />
    </mat-form-field>
  </mat-card>
  <div class="d-flex flex-column align-items-center">
    <span *ngIf="error" class="p-2 text-danger text-center">
      OTP is incorrect !!</span
    >
    <button
      class="m-2 float-right"
      mat-raised-button
      color="primary"
      [disabled]="!clear"
      (click)="resendOtp()"
    >
      Resend OTP
    </button>
  </div>
</main>
