header>span {
  font-size: large;
  font-family: 'Fondamento',
    cursive;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

mat-form-field {
  min-width: 10% !important;
  max-width: 10px !important;
  text-align: center !important;
}

mat-card {
  margin: auto;
  width: 100%;
}

::ng-deep .error .mat-focused .mat-form-field-label {
  color: #DC3545 !important;
}

::ng-deep .error .mat-form-field-underline {
  background-color: #DC3545 !important;
}

::ng-deep .error .mat-form-field-ripple {
  background-color: #DC3545 !important;
}
