<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="main">
        <mat-tab-group animationDuration="800ms" mat-stretch-tabs>
          <mat-tab label="ACTIVITIES">
            <ng-template matTabContent>
              <div class="col-12 col-lg-10 offset-lg-1">
                <mat-list>
                  <mat-list-item
                    class="border-bottom"
                    *ngFor="let notification of notifications"
                  >
                    <span *ngIf="notification.action === 'sent'">
                      You have sent a connection request to
                      <b>{{ notification.doerName }}</b
                      >.
                    </span>
                    <span *ngIf="notification.action === 'received'">
                      <b>{{ notification.doerName }}</b> sent a connection
                      request to you.
                    </span>

                    <span *ngIf="notification.action === 'answered'">
                      <b>{{ notification.doerName }}</b> answered your query.
                    </span>

                    <span *ngIf="notification.action === 'posted'">
                      <b>{{ notification.doerName }}</b> posted a new query.
                    </span>
                  </mat-list-item>
                </mat-list>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="NETWORK">
            <ng-template matTabContent>
              <div class="col-12 col-lg-10 offset-lg-1">
                <ul>
                  <li *ngFor="let notification of notifications">
                    <app-network-notifications
                      *ngIf="
                        notification.action === 'sent' ||
                        notification.action === 'received'
                      "
                      [notification]="notification"
                    ></app-network-notifications>
                  </li>
                </ul>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
