<mat-card
  class="col-12 row d-flex flex-column flex-sm-row justify-content-between flex-wrap flex-sm-nowrap align-items-sm-center border-bottom"
>
  <div class="col-* d-flex flex-row align-items-center">
    <img
      matCardAvatar
      class="m-2"
      src="../../../assets/jlpt.jpg"
      alt="profile"
      width="150px"
      height="150px"
    />
    <b>{{ notification.doerName }}</b>
  </div>
  <div
    class="col-* m-auto m-sm-0 justify-content-end ml-3 d-flex flex-row flex-wrap"
  >
    <button
      class="m-md-2 mt-1 mb-1"
      mat-raised-button
      color="primary"
      *ngIf="notification.action === 'received'"
    >
      ACCEPT
    </button>
    <button
      class="m-md-2 mt-1 mb-1"
      mat-raised-button
      color="primary"
      *ngIf="notification.action === 'sent'"
    >
      WITHDRAW
    </button>

    <button
      class="m-md-2 mt-1 mb-1"
      mat-raised-button
      *ngIf="notification.action === 'received'"
    >
      REJECT
    </button>
  </div>
</mat-card>
