<mat-card class="col-12">
  <mat-card-header>
    <img
      [src]="query.imageUrl || '../../../../assets/user.png'"
      mat-card-avatar
    />
    <mat-card-title>{{ query.author.username }} </mat-card-title>
    <mat-card-subtitle>{{
      query.author.roleDetails.company
    }}</mat-card-subtitle>

    <button
      mat-icon-button
      class="top_right"
      *ngIf="user.role === 'Start-up'"
      [mat-menu-trigger-for]="menu"
    >
      <mat-icon>more_vert </mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{ query.query }}</p>
    <div
      *ngIf="query.comments.length"
      class="show-answers row justify-content-center"
      (click)="showAnswers = !showAnswers"
    >
      <div class="col-*">
        <mat-icon *ngIf="!showAnswers" class="text-muted">expand_more</mat-icon>
        <mat-icon *ngIf="showAnswers" class="text-muted">expand_less</mat-icon>
      </div>
    </div>
    <ng-container>
      <div
        class="row answers justify-content-end justify-content-md-around align-items-center"
        *ngIf="showAnswers && query.comments?.length !== 0"
      >
        <div class="col-11 col-md-10">
          <app-answer
            *ngFor="let answer of query.comments"
            [answer]="answer"
            (commentId)="deleteComment($event, query._id)"
          ></app-answer>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
  <mat-card-actions class="row">
    <mat-form-field class="col-6">
      <textarea
        matInput
        name="answer"
        [(ngModel)]="answer"
        placeholder="Post your comment"
      ></textarea>
    </mat-form-field>
    <button
      class="col-*"
      mat-raised-button
      color="primary"
      (click)="addAnswer()"
    >
      ANSWER
    </button>
  </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="green">
    <mat-icon class="green">check</mat-icon>
    <span>CLEARED</span>
  </button>
  <button mat-menu-item class="red" (click)="deleteQuery(query._id)">
    <mat-icon class="red">clear</mat-icon>
    <span>DELETE</span>
  </button>
</mat-menu>
