main {
  display: table;
  width: 100%;
  height: 100%;
}

app-header,
.outlet-div {
  display: table-row;
}


mat-drawer {
  width: 200px;
}

.router-outlet {
  padding: 10px;
  background-color: black;
  position: absolute;
}

mat-drawer-container {
  /* flex: 1 1 auto; */
}
