<main>
  <app-header
    [icon]="isMobile"
    (toggle)="drawer.toggle()"
    (window:resize)="mobileView()"
  ></app-header>
  <div class="outlet-div">
    <mat-drawer-container style="height: 100%;">
      <mat-drawer
        #drawer
        [mode]="isMobile ? 'over' : 'side'"
        [opened]="!isMobile"
      >
        <app-side-nav></app-side-nav>
      </mat-drawer>

      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
</main>
