<mat-card>
  <mat-card-content class="image">
    <img
      src="../../../assets/jlpt.jpg"
      alt="profile"
      width="150px"
      height="150px"
    />
    <div class="title">
      <p>{{ connection.username }}</p>
      <p class="text-muted">
        {{
          connection.roleDetails?.position || connection.roleDetails?.company
        }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="!self" class="d-flex justify-content-around align-items-end">
      <button
        mat-raised-button
        color="primary"
        (click)="sendReq(connection._id)"
      >
        CONNECT
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="openProfile(connection._id)"
      >
        VIEW PROFILE
      </button>
    </div>
    <div *ngIf="self" class="d-flex justify-content-around align-items-end">
      <button
        mat-raised-button
        color="primary"
        (click)="openProfile(connection._id)"
      >
        VIEW PROFILE
      </button>
      <button mat-raised-button color="accent" (click)="remove(connection._id)">
        REMOVE
      </button>
    </div>
  </mat-card-actions>
</mat-card>
